#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}

#logo img {
    width: 200px;
    vertical-align: middle;
    margin-right: 10px;
}